{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/newsAdmin.css">
{% endblock %}

{% block content %}
    <section>
        <div class="text-center title">
            <h1>Actualités - administration</h1>
        </div>
        <div class="container news-add">
            <a href="#" class="btn btn-primary button-light">Ajouter une actualité</a>
        </div>
        <hr>
        <div class="container d-flex flex-column">
            {% for newsItem in news %}
                <div class="container news-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="#" class="view">{{ newsItem.title }}</a>
                        <div class="buttons">
                        <a href="#" class="btn btn-primary button-light edit">Modifier</a>
                        <a href="#" class="btn btn-primary button-light delete">Supprimer</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}