{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="assets/css/home.css">
{% endblock %}

{% block content %}
    <header class="d-flex text-center justify-content-center align-items-center home-header">
        <h1 class="title-light">U.S. Orléans Échecs</h1>
    </header>
    <section class="container">
        <div class="row">
            <div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, laudantium molestiae neque nulla perspiciatis reiciendis similique temporibus totam! Alias exercitationem, expedita molestiae molestias recusandae repellat totam! Iusto maiores quisquam quod?</p></div>
            <div><img src="assets/images/header" alt=""></div>
        </div>
    </section>
    <section id="carousel-news" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-news" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-news" data-slide-to="1"></li>
            <li data-target="#carousel-news" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            {% for newsItem in news %}
                <div class="carousel-item {% if loop.index0 == 0 %} active {% endif %} carousel-gradient">
                    <img class="d-block w-100" src="/assets/images/{{ newsItem.cover_image }}"
                    alt="First slide">
                    <div class="carousel-caption">
                        <h3 class="title-light">{{ newsItem.title }}</h3>
                        <p>{{ newsItem.excerpt }}</p>
                        <button class="button-dark">En savoir plus</button>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carousel-news" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Précèdent</span>
        </a>
        <a class="carousel-control-next" href="#carousel-news" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
        </a>
    </section>
{% endblock %}