{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="assets/css/home.css">
{% endblock %}

{% block content %}
    <section id="carousel-news" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-news" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-news" data-slide-to="1"></li>
            <li data-target="#carousel-news" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active carousel-item1">
                <div class="carousel-caption">
                    <h3 class="title-light">Bilan de la saison 2019-2020</h3>
                    <p>Retrouvez notre bilan pour cette saison !</p>
                    <button class="button-dark">En savoir plus</button>
                </div>
            </div>
            <div class="carousel-item carousel-item2">
                <div class="carousel-caption">
                    <h5>Nouvelles dates ateliers et cours</h5>
                    <p>Découvrez notre nouveau calendrier des cours.</p>
                    <button class="button-dark">En savoir plus</button>
                </div>
            </div>
            <div class="carousel-item carousel-item3">
                <div class="carousel-caption">
                    <h3 class="title-light">Journée au parc</h3>
                    <p>Préparez vos sandwichs pour des parties endiablées !</p>
                    <button class="button-dark">En savoir plus</button>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-news" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Précèdent</span>
        </a>
        <a class="carousel-control-next" href="#carousel-news" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
        </a>
    </section>
{% endblock %}

