{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Hello Wilder !</h1>
    <h1 class="title-light">Test font</h1>
    <p class="text-light">Test</p>
    <button class="button-light">Click !</button>
    <div>
    <button class="button-dark">Click !</button>
        <input type="text">
        <select name="" id="">
            <option value="">zefefze</option>
            <option value="">fezfezfezf</option>
            <option value="">ezfezf</option>
            <option value="">ezfezf</option>
            <option value="">zefezf</option>
        </select>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
{% endblock %}
