.contact-header {
    height: var(--header-height);
    background: var(--image-gradient), url("../images/header_contact.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-contact {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
}

.contact h1 {
    font-size : var(--h1-font-size);
    font-weight: var(--bold);
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: var(--spacing2);
    padding-left: var(--spacing2);
}

.form-title {
    margin-top: var(--spacing5);
    margin-bottom: var(--spacing3);
    display: flex;
    align-self: center;
}

.contact-form-title {
    padding: var(--spacing);
}

.button {
    display: flex;
    justify-content: center;
}

input, textarea, select, .input-group, button{
    margin-bottom: var(--spacing3);
}

.form-control .custom-select{
    border: none;
    padding: var(--spacing);
    border-bottom: 2px solid var(--light);
    background-color: var(--light-transparent);
    border-radius: var(--border-radius) var(--border-radius);
    color: var(--dark);
}

.form-control:focus,
.custom-select:focus {
    border-color: transparent !important;
    box-shadow: none !important;
    border-bottom: 3px solid var(--highlight) !important;
}

label {
    margin-bottom: var(--spacing2);
    color: var(--light);
}

form img {
    height: var(--icon-height);
}

.errors {
    color: var(--highlight);
}

.required-field {
    color: var(--light);
}


