.contact-header {
    height: var(--header-height);
    background: var(--image-gradient), url("../images/header_contact.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact h1 {
    font-size : var(--h1-font-size);
    font-weight: var(--bold);
}

.title-card {
    margin-top: var(--spacing5);
    margin-bottom: var(--spacing4);
    display: flex;
    justify-content: center;
}

.contact-card-title {
    padding: var(--spacing);
}

.contact-informations {
    margin-bottom: var(--spacing4);
}

.title-card img {
    height: var(--icon-height);
}

.card img {
    height: calc(var(--icon-height)*3);
}

.card {
    --card-height: 335px;
    --card-width: 350px;
    padding: var(--spacing2);
    margin: var(--spacing2);
    border: 2px solid var(--second-color);
    height: var(--card-height);
    width: var(--card-width);
}

.card-row {
    --column-gap: 80px;
    --row-gap: 40px;
    justify-content: center;
    column-gap: var(--column-gap);
    row-gap: var(--row-gap);
}

.form-contact {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: var(--spacing2);
    padding-left: var(--spacing2);
    margin-bottom: var(--spacing3);
}

.form-title {
    margin-top: var(--spacing5);
    margin-bottom: var(--spacing4);
    display: flex;
    align-self: center;
}

.contact-form-title {
    padding: var(--spacing);
}

.button {
    display: flex;
    justify-content: center;
}

input, textarea, select, .input-group, button{
    margin-bottom: var(--spacing3);
}

.form-control .custom-select{
    border: none;
    padding: var(--spacing);
    border-bottom: 2px solid var(--light);
    background-color: var(--light-transparent);
    border-radius: var(--border-radius) var(--border-radius);
    color: var(--dark);
}

.form-control:focus,
.custom-select:focus {
    border-color: transparent;
    box-shadow: none;
    border-bottom: 3px solid var(--highlight);
}

label {
    margin-bottom: var(--spacing2);
    color: var(--light);
}

form img {
    height: var(--icon-height);
}

.errors {
    color: var(--highlight);
}

