:root {
    --carousel-height: 640px;
}

.carousel-item > img {
    height: var(--carousel-height);
    object-fit: cover;
}

.carousel-item {
    width: 100%;
    height: var(--carousel-height);
}

.carousel-item:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    background: var(--image-gradient);
}

.carousel-caption {
    margin-bottom: var(--spacing2);
}