.rules-header {
    height: var(--header-height);
    background: linear-gradient(var(--darken-image), var(--darken-image)), url("../images/header_rules.jpg") no-repeat center fixed;
    background-size: cover;
}

.rules-title, h2, h3 {
    text-align: center;
    margin-top: var(--spacing2);
    margin-bottom: var(--spacing4);
}

.size {
    margin-bottom: var(--spacing);
    font-size: var(--h4-font-size);
}

.icon {
    height: var(--icon-height);
}

.rules-section, .shifting-section {
    background: url(../images/chess_pattern.jpg);
    padding-top: var(--spacing4);
    padding-bottom: var(--spacing4);
}

.presentation-text {
    margin-bottom: var(--spacing3);
    line-height: 200%;
}

.presentation_rules {
    display: flex;
    justify-content: flex-end;
}

img {
    border-radius: var(--border-radius);
    display: block;
    max-width: 100%;
}

.equipment-section, .progress-section {
    background-color: var(--main-color);
    padding-top: var(--spacing4);
    padding-bottom: var(--spacing4);
}

article {
    padding-bottom: var(--spacing2);
}

span {
    font-weight: var(--bold);
}
