.rules-header {
    height: var(--header-height);
    background: linear-gradient(var(--darken-image), var(--darken-image)), url("../images/header_rules.jpg") no-repeat center fixed;
    background-size: cover;
}

.rules-title {
    margin-top: var(--spacing5);
    margin-bottom: var(--spacing4);
}

.rules-title h2 {
    padding: var(--spacing2);
    text-align: center;
}

h3 {
    padding-bottom: var(--spacing2);
}

.size {
    padding-bottom: var(--spacing);
    font-size: var(--h4-font-size);
}

.icon {
    height: var(--icon-height);
}

.rules-section {
    margin-bottom: var(--spacing4);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 28 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(242, 243, 248)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.presentation-text {
    margin-bottom: var(--spacing3);
    line-height: 200%;
}

.presentation_rules {
    display: flex;
    justify-content: flex-end;
}

.presentation-rules img {
    border-radius: var(--border-radius);
    display: block;
    max-width: 100%;
}

article {
    padding-bottom: var(--spacing2);
}

span {
    font-weight: var(--bold);
}
