:root {
    --main-color: #334166;
    --second-color: #87A7FF;
    --third-color: #6B91FA;
    --highlight: #FAD26B;
    --highlight-dark: #AD8828;
    --title-font: 'Open Sans', sans-serif;
    --p-font: 'Raleway', sans-serif;
    --spacing: 8px;
    --spacing2: calc(var(--spacing) * 2);
    --spacing3: calc(var(--spacing) * 4);
    --spacing4: calc(var(--spacing) * 8);
}


nav {
    background-color: var(--main-color);
    font-family: var(--title-font);
    padding-right: var(--spacing);
}

.logo {
    height: var(--logo-height);
    padding-right: var(--spacing2);
}

nav a {
    text-decoration: none;
}

.title-light {
    color: var(--light);
}

nav a:hover {
    color: var(--dark);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 28 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(242, 243, 248)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.dropdown-menu {
    background-color: var(--main-color);
    border: none;
}

.dropdown-toggle::after {
    vertical-align: 0;
}

.dropdown-item {
    padding-bottom: var(--spacing2);
}

.dropdown-item:hover {
    background-color: var(--light);
}

.navbar-expand-md .navbar-nav .nav-link {
    padding: var(--spacing2) var(--spacing3) var(--spacing2) var(--spacing);
}

.nav-link:hover {
    color: var(--second-color);
}